/* Картинка and текст */
.tagline{
    margin: 0 auto;
    width: auto;
    height: 512px;
    background-image: url('../img/background.webp');
    background-position: 50%;
}
.textonImg1{
    width: 60%;
    height: 100%;
}
.textonImg2{
    width: 784px;
    height: 50%;
    position: relative;
    top: 128px;
    float: right;
}
.textonImg3{
    font: 43px Inter;
    margin: 25px 0;
}
.textonImg4{
    font: 20px Inter;
    color: #181818;
}

/* мобайл */
@media only screen and (max-width: 833px){
    /* Картинка and текст */
    .tagline{
        width: auto;
        height: 440px;
        background-image: url('../img/backgroundMobile.webp');
        background-position: 72%;
    }
    .textonImg1{
        width: 100%;
        height: 100%;
    }
    .textonImg2{
        width: 100%;
        position: relative;
        top: 20px;
        text-align: center;
    }
    .textonImg3{
        font: 43px Inter;
        margin: 25px 0;
        color: aliceblue;
    }
    .textonImg4{
        font: 20px Inter;
        color: #9c9c9c;
    }
}