/* CRM */
.crm{
    margin: 104px 0 64px;
}
.crmText{
    font: 48px Montserrat;
    text-align: center;
    display: block;
    margin: 0 0 80px 0;
}
.crmPrice{
    margin: 0 12%;
    height: 450px;
}
.crmBox{
    display: flex;
    justify-content: space-evenly;
}
/* Прямоугольники */
.crm1{
    width: 310px;
    height: 410px;
    border-radius: 15px;
    border: solid 3px rgb(6, 151, 6);
}
.crm2{
    width: 310px;
    height: 410px;
    border-radius: 15px;
    border: solid 3px rgb(6, 151, 6)
}
.crm3{
    width: 310px;
    height: 410px;
    border-radius: 15px;
    border: solid 3px rgb(6, 151, 6)
}

/* Текст в прямоугольниках */
/* Строчки */
.crmText1{
    text-align: center;
    font: 24px Montserrat;
    margin: 41px 0;
    color: black;
}
.crmText2{
    text-align: center;
    font: 18px Montserrat;
    margin: 45px 0;
    padding: 0px 10%;
    color: rgb(97, 97, 97);
}
.crmText3{
    text-align: center;
    font: 24px Montserrat;
    margin: 45px 0;
    color: black;
}
.crmText4{
    text-align: center;
    font: 20px Montserrat;
    margin: 45px 0;
    color: #1CA345;
}
.crmText5{
    text-align: center;
    font: 18px Montserrat;
    color: rgb(19, 54, 168);
}

/* мобайл */
@media only screen and (max-width: 833px){
    /* CRM */
    .crmBox{
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
    }
}
