{% load static %}

{% block crm %}
<div class="crm">
    <span class="crmText">Создание сайтов для малого бизнеса</span>
    <div class="crmPrice">
        <div class="crmBox">

            <a href="/" class="link">
                <div class="crm1">
                    <div class="crmText1">Лендинг</div>
                    <div class="crmText2">Одностраничный сайт за 3 дня</div>
                    <div class="crmText3">от 3490 &#8381;</div>
                    <div class="crmText4">CRM в подарок</div>
                    <div class="crmText5">Что входит в цену</div>
                </div>
            </a>

            <a href="/" class="link">
                <div class="crm2">
                    <div class="crmText1">Сайт-бизнес</div>
                    <div class="crmText2">Многостраничный сайт за 5 дней</div>
                    <div class="crmText3">от 4490 &#8381;</div>
                    <div class="crmText4">CRM в подарок</div>
                    <div class="crmText5">Что входит в цену</div>
                </div>
            </a>

            <a href="/" class="link">
                <div class="crm3">
                    <div class="crmText1">Интернет-магазин</div>
                    <div class="crmText2">Сайт для онлайн продаж за 7 дней</div>
                    <div class="crmText3">от 5490 &#8381;</div>
                    <div class="crmText4">CRM в подарок</div>
                    <div class="crmText5">Что входит в цену</div>
                </div>
            </a>

        </div>
    </div>
</div>
{% endblock %}