<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/tagline.css">
    <link rel="stylesheet" href="css/crm.css">
    <link rel="stylesheet" href="css/feedback.css">
    <title>waay01</title>
</head>
    <body>

        <header>
            <nav>
                <div class="navbar">
                    <a href="/" class="mobileoff"><img src="css/img/menu.png" width="37" height="37"></a>
                    <a href="/">Главная</a>
                    <a href="/">Услуги</a>
                    <a href="/">Примеры работ</a>
                    <a href="/">Контакты</a>
                </div>
            </nav>
        </header>

        <div>
            <div>
                <div class="tagline">
                    <div class="textonImg1">
                        <div class="textonImg2">
                            <div class="textonImg3">Запустим сайт, пока вы занимаетесь бизнесом</div>
                            <div class="textonImg4">Более 2200+ готовых сайтов для вашего бизнеса</div>
                        </div> 
                    </div>
                </div>

                <div class="crm">
                    <span class="crmText">Создание сайтов для малого бизнеса</span>
                    <div class="crmPrice">
                        <div class="crmBox">
                            <a href="/" class="link">
                                <div class="crm1">
                                    <div class="crmText1">Лендинг</div>
                                    <div class="crmText2">Одностраничный сайт за 3 дня</div>
                                    <div class="crmText3">от 3490 &#8381;</div>
                                    <div class="crmText4">CRM в подарок</div>
                                    <div class="crmText5">Что входит в цену</div>
                                </div>
                            </a>

                            <a href="/" class="link">
                                <div class="crm2">
                                    <div class="crmText1">Сайт-бизнес</div>
                                    <div class="crmText2">Многостраничный сайт за 5 дней</div>
                                    <div class="crmText3">от 4490 &#8381;</div>
                                    <div class="crmText4">CRM в подарок</div>
                                    <div class="crmText5">Что входит в цену</div>
                                </div>
                            </a>

                            <a href="/" class="link">
                                <div class="crm3">
                                    <div class="crmText1">Интернет-магазин</div>
                                    <div class="crmText2">Сайт для онлайн продаж за 7 дней</div>
                                    <div class="crmText3">от 5490 &#8381;</div>
                                    <div class="crmText4">CRM в подарок</div>
                                    <div class="crmText5">Что входит в цену</div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="feedback">
                    <span class="feedbackText">Наши клиенты о нас</span>
                    <div class="feedbackVideoBox">
                        <div class="feedback1Flex">
                            <iframe class="feedbackVideo1" width="560" height="315" src="https://www.youtube.com/embed/cXTaayxltt0?iv_load_policy=3&modestbranding=1&showinfo=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="feedback1">
                                <div class="feedback1Name">Алена Манцурова</div>
                                <div class="feedback1Proff">Ремонт и обслуживание спецтехники</div>
                                <div class="feddback1Message">Благодаря сайту число клиентов в нашей фирме за последний год увеличилось в два раза. Присоединяйтесь к нам! Компания  Мегагрупп поможет Вам создать удобный для работы сайт, благодаря которому Вы сможете увеличить число клиентов и увеличить свой доход.</div>
                            </div>
                        </div>

                        <div class="feedback2Flex">
                            <iframe class="feedbackVideo2" width="560" height="315" src="https://www.youtube.com/embed/HelwAQDkbUo?iv_load_policy=3&modestbranding=1&showinfo=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; " allowfullscreen></iframe>
                            <div class="feedback2">
                                <div class="feedback2Name">Сорокина Екатерина</div>
                                <div class="feedback2Proff">Антиквариат</div>
                                <div class="feddback2Message">Был сайт в другой компании, но там не подошла система управления. Мы начали искать другую платформу, куда перенести наш домен. Нашли компанию Мегагрупп, и очень-очень рады этому. Благодаря им быстро создали интернет-магазин. Огромное спасибо службе поддержки за терпение, за быструю помощь и реагирование. Если возникают...</div>
                            </div> 
                        </div>
                    </div>
                </div>

                <!--
                    Часто задаваемые вопросы 
                    Этапы работы
                    Подвал
                    https://megagroup.ru/
                    Мобильные версии
                -->
            </div>
        </div>

    </body>
</html>